<%= render 'nav' %>

<h1 class="title">About Us</h1>

<p class="center about">We are a workout sharing platform that allows you to create and share 
    customized home workout routines that you've been doing during quarantine.</p>