<%= render 'nav' %>

    <h1>All Routines</h1>

<div class="routines-container">
    
        <% @routines.each do |routine| %>
        <div class="routines-tile"> 
            <p><%= link_to routine.name, routine_path(routine) %>
            Created By: <%= routine.user.name %></p>
        </div>
        <% end %>
</div>

