<h1><%= @routine.name %></h1>

<ul>
    <% @routine.exercises.each do |exercise| %>
    <li><%= link_to exercise.name, exercise_path(exercise) %></li>
    <% end %>
</ul>

<p><%= link_to "Back to Routines", routines_path %></p>