@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
 
 ul.nav {
     height: 60px;
     line-height: 60px;
     background-color: cornflowerblue;
     border-radius: 20px;
     z-index: 1000;
     width: 95%;
 }

 .welcome_name {
    /* font-weight: bold; */
    display: inline;
    font-size: 20px;
    color: lightsalmon;
    padding-right: 30px;
 }

 ul.nav li {
     display: inline;
     margin: 0px 20px;
     padding: 15px 5px;
     font-weight: bold;
}

ul.nav li a {
    color: white
}

 ul.nav li:hover {
     background-color: #F49F0A ;
     border-radius: 30px;
 }

 .routines-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 50px;
 }

 .routines-tile {
    background-color: rgba(85, 208, 230, 0.262);
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
    border: solid 2px lightsalmon;
    box-shadow: 3px 3px lightsalmon;
 }

 body {
     background-color: #BBDEF0;
     font-family: Arial, Helvetica, sans-serif;
 }

 img {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
 }

 .title {
    padding: 20px;
    text-align: center;
    color: #00A6A6;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
 }

 .center {
    text-align: center;
 }

 .about {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding: 0px 100px;
 }

 img .index {
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
 }

 a {
    text-decoration: none; 
    color: rgb(60, 60, 94);
    font-size: larger;
    font-family: 'Open Sans', sans-serif;
}

.web_name {
    color: lightsalmon;
    position: relative;
    font-weight: bold;
    text-align: right;
    padding: 10px 30px;
    font-family: 'Open Sans', sans-serif;
}

.directions-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 300px;
}

.show-directions {
    font-family: 'Open Sans', sans-serif;
}

.add-exercise {
    text-align: center;
}

.exercise-img {
    /* border: solid 5px; */
    box-shadow: 
	0 0 0 2px #000,
	0 0 0 3px #999,
	0 0 0 9px lightsalmon,
	0 0 0 10px #666,
	0 0 0 16px #fd0,
	0 0 0 18px #000;
}

.btn {
    font-size: 20px;
    border: solid 2px;
    border-radius: 10px;
    margin: 40px;
    background-color: rgba(100, 148, 237, 0.481);
}