<%= render 'nav' %>
<h1>Exercise Library</h1>

<div class="routines-container">
<% @exercises.each do |exercise| %>
<div class="routines-tile">
<%= link_to exercise.name, exercise_path(exercise) %>
</div>
<% end %>
</div>

