<%= render 'nav' %>
<h1 class="title">Exercise Library</h1>

<div class="routines-container">
<% @exercises.each do |exercise| %>
<div class="routines-tile">
<p class="center"> <%= link_to exercise.name, exercise_path(exercise) %> </p>
<img class="index" src="<%= exercise.img_url %>">
</div>
<% end %>
</div>

