<body>
    


<h1>Exercise Library</h1>

<div class="routines-container">
<% @exercises.each do |exercise| %>
<div class="routines-tile">
<%= link_to exercise.name, exercise_path(exercise) %>
</div>
<% end %>
</div>

<p><%= link_to "Back to Routines", routines_path %></p>

</body>